* {
    margin: 0;
}

#root {
    background-color: black;
    width: 100%;
    min-width: 1322px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 40px;
}

.header {
    display: flex;
    height: 8vw;
    width: 100%;
    background-color: black;
}

.footer {
    display: flex;
    height: 10vw;
    width: 100%;
    background-color: black;
}

.pages {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 600px;
    background-color: red;
}


.page1 {
    display: flex;
}


.p1-background {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.p1-logo {
    position: relative;
    height: 15rem;
    left: 230px;
    bottom: 180px;
}
